@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'roboot', sans-serif;
  text-decoration: none;
  position: relative;
}
html {
  font-size: 62.5%;
}
nav {
  width: 100%;
  height: 48px;
  background: rgba(22, 22, 23, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
#logo {
    width: 150px;
    padding: 0;
    margin: 0;
}
#logo img {
    width: 25px;
    height: 20px;
    padding: 0;
    margin: 0px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin: 0 40px;
  display: flex;
}
nav ul li .one {
  padding: 0 40px;
  box-sizing: border-box;
}
nav ul li a {
  font-weight: 300;
  font-size: 14px;
  color: #d6d4d4;
  transition: 0.2s;
}
nav ul li a:hover {
  color: #f5f5f7;
}

@media (max-width: 1050px) {
    .one {
        display:none;
    }
    
    nav {
       padding-left: 500px;
       padding-right: 500px;
    }
    
    
}

@media (max-width: 700px) {
    .one {
        display:none;
    }
    
    .icon {
       display:none; 
    }
    nav {
        padding-left: 200px;
        padding-right: 200px;
     }
}

#dropdown_container {
    height:400px;
    width: 100%;
    background-color: #1d1d1f;
    position: fixed;
    top: 48px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}
#dropdown_container > div {
    display: flex;
    width: 70%;
    margin-top: 60px;
    margin-left: 23%;
}
#dropdown_container > div > div {
   flex-basis: 25%;
   padding-left:20px;
   color: white;
}
#dropdown_container > div > div > h4  {
   margin-bottom: 10px;
   margin-top: 10px;
   font-weight: 800;
   font-size: 20px;
}
#dropdown_container > div > div > h5  {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 13px;
} 
#dropdown_container > div > div > p{
    font-size: 13px;
    margin-bottom: 20px;
}
#dropdown_container > div > div > p:hover  {
   text-decoration: none;
}
#dropdown_container > div > div > h4 a:visited {
   color: white;
   text-decoration: none;
}
#dropdown_container > div > div > h5 a:visited{
   color: white;
   text-decoration: none;
}
#dropdown_container > div > div > p a:visited {
   color:#7f8c8d;
   text-decoration: none;
}
#dropdown_container > div > div > p a:link {
   color: white;
   text-decoration: none;
}
#layer_mask {
    position: fixed;
    top: 50px;
    background-color:rgba(135, 134, 134, 0.6);
    width: 100%;
    height: 100%;
    z-index: 9;
    visibility: hidden;
}

#subnavbar {
  margin-left: 100px;
}

#subnavbar > div:nth-child(1) {
  display: flex;
  flex-direction: row-reverse;
}
#subnavbar > div:nth-child(1) > div {
  margin-left: 15px;
  font-size:13px;
  padding-top: 5px;
  cursor: pointer;
  color: white;
}
#subnavbar > div:nth-child(1)  a {
  text-decoration: none;
  color: #d6d4d4;
}
#subnavbar > div:nth-child(1) > div:hover {
  text-decoration: underline;
}

.heading {
  text-align: center;
  padding: 12px 12px;
  font-size: 14px;
  color: #2c3e50;
}

.heading a {
  color:  #2997ff;
}

.container {
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.2rem;
  font-size: 10px;
}

.iphone-14-pro {
  margin-top: 0;
  background: url("../images/section-1.jpg");
}

/* iphone14 section */

.iphone-14 {
  background: url("../images/section-2.jpg");
}

.title {
  color: #fff;
  text-align: center;
  padding-top: 5.5rem;
}

.title-heading {
  font-size: 5.6rem;
  line-height: 1.08;
  letter-spacing: 0.005rem;
}

.title-sub-heading {
  font-size: 2.65rem;
  margin-top: 0.6rem;
  letter-spacing: 0.008rem;
  font-weight: 400;
}

.cta {
  text-align: center;
  margin-top: 1.8rem;
}

.cta-link {
  color: #66bbff;
  font-size: 2.1rem;
  display: inline-block;
}

.cta-link:nth-child(2) {
  margin-left: 2.6rem;
}

.cta-link:hover {
  border-bottom: 2px solid #66bbff;
}

/* watch section */

.watch {
  background: url("../images/section-3.jpg");
}

.series {
  color: rgb(190, 16, 16);
  font-size: 2.4rem;
}
.title-dark {
  color: black;
}

.cta-link-darker {
  color: #0070c9;
}

.cta-link-darker:hover {
  border-bottom-color: #0070c9;
}

/* section-4 */

.section-4 {
  display: flex;
  gap: 14px;
  width: 100%;
  margin-bottom: 8px;
}

.section-4  section {
  width: 100%;
  height: 60rem;
}

.box-heading {
  font-size: 4.0rem;
  line-height: 1.08;
  letter-spacing: 0.005rem;
}

.box-sub-heading {
  font-size: 2.0rem;
  margin-top: 0.6rem;
  letter-spacing: 0.008rem;
  font-weight: 400;
}
.learning {
  background: url("../images/section-4.1.jpg");
}
.trade {
  background: url("../images/section-4.2.jpg");
}
.wwd {
  background: url("../images/wwd.jpg");
}
.ipad {
  background: url("../images/ipad.jpg");
}
.macbook {
  background: url("../images/macbook.jpg");
}
.gifts {
  background: url("../images/gifts.jpg");
}

.wwd .box-heading {
  margin-top: 300px;
}

.hero {
  height: 72.2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 0.6rem solid #fff;
  border-bottom: 0.6rem solid #fff;
}

.iphone-14-pro {
  border-top: none;
}



/*--- footer ---*/
footer {
    width: 100%;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
  .footer-main {
    width: 60%;
    flex-basis: 300px;
  }
  .footer-main div {
    flex-basis: 25%;
  }
  .footer-ul ul{
    flex-basis: 25%;
  }
  .footer-detail {
    font-size: 1.4rem;
    color: #6e6e73;
    padding: 20px 0;
    border-bottom: 1px solid #bdc3c7;
  }
  .footer-detail a {
    color: #2c3e50;
  }
  .footer-detail a:hover {
    text-decoration: underline;
  }
  .footer-welcome {
    display: flex;
    margin: 20px 0;
    font-size: 1.4rem;
    color: #34495e;
  }
  .footer-welcome i {
    margin-right: 10px;
  }
  .footer-ul {
    display: flex;
    justify-content: space-between;
  }
  .footer-ul ul {
    list-style: none;
  }
  .footer-ul ul li {
    margin: 7px 0;
  }
  .footer-ul ul li h4 {
    color: #34495e;
    font-size: 1.3rem;
  }
  .footer-ul ul li a {
    color: #7f8c8d;
    font-size: 1.3rem;
  }
  .footer-ul ul li a:hover {
    text-decoration: underline; 
  }
  #mt {
    padding-top: 30px;
  }
  .footer-contact {
    border-bottom: 1px solid #bdc3c7;
    padding: 12px 0;
    margin: 10px 0;
    color: #7f8c8d;
    font-size: 1.4rem;
  }
  .footer-contact a {
    color: #3498db;
  }
  .footer-contact a:hover {
    text-decoration: underline;
  }
  .footer-copyright {
    color: #7f8c8d;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
  }
  .footer-copyright ul {
    display: flex;
    list-style: none;
    width: auto;
  }
  .footer-copyright ul li {
    margin: 0 10px;
  }
  .footer-copyright ul li a {
    color: #7f8c8d;
  }
  .footer-copyright ul li a:hover {
    text-decoration: underline; 
  }
